.roomContainer {
  width: 100%;
  height: 100vh;
  display: flex;
}

.chatSectionContainer {
  height: 100%;
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.chatLabelContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.chatLabelParagraph {
  font-weight: 700;
  color: #9ca5ab;
  margin-left: 40px;
  font-size: 16px;
}

.newMessageContainer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.newMessageInput {
  border: 1px solid #d1dbe2;
  border-radius: 60px;
  padding: 0 20px;
  height: 60px;
  font-size: 16px;
  width: 80%;
  box-shadow: 2px 20px 5px rgba(0, 82, 201, 0.05);
}

.newMessageTextarea {
  &:focus {
    outline: none;
  }
}

.newMessageButton {
  position: absolute;
  right: 10%;
}

.messagesContainer {
  width: calc(100% - 70px);
  margin-left: 30px;
  margin-right: 30px;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

.messageContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.messageAlignLeft {
  align-items: flex-start;
}

.messageAlignRight {
  align-items: flex-end;
}

.messageLeftStyles {
  background: rgba(0, 82, 201, 0.1);
  color: black;
}

.messageRightStyles {
  background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%);
  color: white;
}

.messageTitle {
  margin: 0 0 10px 0;
  padding: 0 10px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  display: block;
}

.messageContent {
  margin: 0px 10px;
  padding: 10px 30px 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  display: inline-block;
}

.overlayContainer {
  width: 100%;
  height: 100vh;
  background: rgba(0, 82, 201, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0052c9; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.participantsContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  height: 50%;
}

.directChatContainer {
  height: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.directChatHeader {
  height: 50px;
  background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%);
  width: 95%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.directChatHeaderParagraph {
  color: white;
  font-size: 16px;
}

.newMessageDirectBorder {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  width: 95%;
}

.directMessagesContainer {
  flex-grow: 1;
  width: 95%;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.participantsParagraph {
  color: black;
  text-align: start;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
  margin: 0 40px;
  padding: 10px 0px;

  &:hover {
    background-color: #e5e5e5;
    border-radius: 8px;
  }
}

.participantsSeparatorLine {
  width: calc(100% - 80px);
  height: 2px;
  background-color: #e5e5e5;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.participantsSectionContainer {
  height: 100%;
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.participantsLabelContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.participantsLabelParagraph {
  font-weight: 700;
  color: #9ca5ab;
  margin-left: 40px;
  font-size: 16px;
}

.localScreenSharePreview {
  position: absolute;
  width: 15%;
  height: 90%;
  background-color: black;
  border-radius: 8px;
  border: 2px solid blue;
  left: 1%;
  bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoButtonContainer {
  width: 60%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20%;
  bottom: 0;
  background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.videoButtonContainer {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

.videoButtonImage {
  height: 80%;
  padding: 10px;
  border-radius: 25px;
  transition: 0.3s;

  &:hover {
    background: blue;
    padding: 10px;
    border-radius: 25px;

    .videoButtonEnd {
      width: 200px;
      height: 60px;
      font-size: 18px;
      font-weight: 600;
      border-radius: 65px;
      border: none;
      color: white;
      background: #fc5d5b;
      box-shadow: 0px 3px 30px rgba(252, 93, 91, 0.1);
      transition: 0.2s;

      &:hover {
        background: red;
        .participants {
          display: flex;
          width: 100%;
          height: 100%;
        }
        .participants {
          display: flex;
          width: 100%;
          height: 100%;
        }

        .videoscontainer {
          height: 90%;
          width: 100%;
          background-color: #f6f9fb;
          position: relative;
          border-radius: 0px 0px 25px 25px;
        }
      }
    }
  }
}

.participant {
  flex-grow: 1;
}

/* .identity {
        position: absolute;
        left: 0px;
        bottom: 15px;
        color: white;
        padding-left: 15px;
        box-sizing: border-box;
        z-index: 10;
      } */

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.screenShareTrack {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.room {
  width: 100%;
  height: 100%;
}

video {
  width: 98%;
  height: 98%;
}

.roomLabel {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 4;
}

.roomLabelParagraph {
  font-size: 17px;
  color: white;
  margin-top: 0;
  padding: 18px 38px;
  background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%);
  border-radius: 0px 0px 15px 15px;
}

.videoTrackContainer:first-child:nth-last-child(1) {
  width: 100%;
  height: 100%;
  position: relative;
}

.videoTrackContainer:first-child:nth-last-child(2),
.videoTrackContainer:first-child:nth-last-child(2) ~ .videoTrackContainer {
  width: 50%;
  height: 50%;
  position: relative;
}

.videoTrackContainer:first-child:nth-last-child(3),
.videoTrackContainer:first-child:nth-last-child(3) ~ .videoTrackContainer {
  width: 50%;
  height: 50%;
  position: relative;
}

.videoTrackContainer:first-child:nth-last-child(4),
.videoTrackContainer:first-child:nth-last-child(4) ~ .videoTrackContainer {
  width: 50%;
  height: 50%;
  position: relative;
}

.videoTrackContainer:first-child:nth-last-child(5),
.videoTrackContainer:first-child:nth-last-child(5) ~ .videoTrackContainer {
  width: 33%;
  height: 33%;
  position: relative;
}

.videoTrackContainer:first-child:nth-last-child(6),
.videoTrackContainer:first-child:nth-last-child(6) ~ .videoTrackContainer {
  width: 33%;
  height: 33%;
}

.videoTrackContainer:first-child:nth-last-child(7),
.videoTrackContainer:first-child:nth-last-child(7) ~ .videoTrackContainer {
  width: 33%;
  height: 33%;
}

.videoTrackContainer:first-child:nth-last-child(8),
.videoTrackContainer:first-child:nth-last-child(8) ~ .videoTrackContainer {
  width: 33%;
  height: 33%;
}

.videoTrackContainer:first-child:nth-last-child(9),
.videoTrackContainer:first-child:nth-last-child(9) ~ .videoTrackContainer {
  width: 33%;
  height: 33%;
}

.videoSectionContainer {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fullScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.labelOnlyAudioContainer {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 0%;
}

.labelOnlyAudioContainer {
  font-size: 18px;
  color: black;
}
