@use "src/styles/variables" as v;

.button {
  @include v.button;
}

.buttonBox {
  @include v.buttonBox;
}

.textarea {
  @include v.textarea;
}

.textareaBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}
