@mixin button {
  width: 4rem;
  height: 3rem;
  background: pink;
  border: none;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 1.25rem;
  border-radius: 5px;

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin buttonBox {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin textarea {
  resize: none;
  background: darkkhaki;
  color: white;
  border: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
}
